@import '../../util/Constant/sass-variable-list.scss';

.line-graph {
  padding: $padding--small;
  width: 100%;

  &__heading {
    width: 100%;
    text-align: center;
  }

  &__svg {
    width: 100%;
  }

  &__label {
    fill: $grey--medium;
    font-size: $font-size--medium-small;
    &--highlight {
      fill: $grey--dull-dark;
    }
  }

  &__data-target {
    fill: rgba($grey--light, 0.00);
    &:hover {
      fill: rgba($grey--light, 0.1);
    }
  }
}
